<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/StyleCSS/StyleBody.css" rel="stylesheet" />
    <link href="~/Content/StyleCSS/StyleSheet1.css" rel="stylesheet" />
    <link href="~/Content/StyleCSS/StyleFooter.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <div id="heading">
        <div id="header-left">
            <img src="https://raw.githubusercontent.com/DatPham06/webdata/main/Picture/LOGO_HUFLIT.png" class="logo" />
            <div id="storename">
                <h2><a href="/Home/TrangChu" style="color:black;text-decoration:none" class="brand-name"><link href="https://fonts.googleapis.com/css2?family=Bitcount+Prop+Single+Ink:wght@100..900&display=swap" rel="stylesheet">PhoneStore69</a></h2>
            </div>
        </div>
        <div id="header-mid">
            <input type="text" placeholder="nhập từ khóa" class="search-box" />
            <button type="submit" class="search-btn">Tìm kiếm</button>
            <ul id="menu">
                <li><a href="/Home/TrangChu" class="link">Trang Chủ</a><i class="fa-solid fa-house"></i></li>
                <li><a href="/Home/LienHe" class="link">Liên Hệ</a><i class="fa-solid fa-phone"></i></li>
                <li><a href="/Home/SanPham" class="link">Sản Phẩm</a><i class="fa-solid fa-bag-shopping"></i></li>
            </ul>
        </div>
        <div id="header-right">
            <button class="login-btn">
                <a href="/Home/DangNhap">Tài khoản</a>
                <i class="fa fa-user"></i>
            </button>
        </div>
    </div>
    <div>
        @RenderBody()
    </div>

    <footer id="footer">
        <div class="footer-container">
            <div class="footer-section">
                <h3>PhoneStoreGR2</h3>
                <p>Chuyên cung cấp điện thoại chính hãng, giá tốt, bảo hành uy tín.</p>
            </div>

            <div class="footer-section">
                <h4>Liên hệ</h4>
                <p><i class="fa-solid fa-phone"></i> 0909 999 999</p>
                <p><i class="fa-solid fa-envelope"></i> phonestoregr2@gmail.com</p>
                <p><i class="fa-solid fa-location-dot"></i> 155 Sư Vạn Hạnh, Q.10, TP.HCM</p>
            </div>

            <div class="footer-section">
                <h4>Theo dõi chúng tôi</h4>
                <div class="social-links">
                    <a href="/Home/LienHe"><i class="fa-brands fa-facebook"></i></a>
                    <a href="/Home/LienHe"><i class="fa-brands fa-instagram"></i></a>
                    <a href="/Home/LienHe"><i class="fa-brands fa-youtube"></i></a>
                </div>
            </div>
        </div>

        <div class="footer-bottom">
            <p>© 2025 PhoneStoreGR2 | Thiết kế bởi <b>Nhóm 69</b></p>
        </div>
    </footer>
</body>
</html>