
@{
    ViewBag.Title = "DangNhap";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<main class="site-main login-page-main">
    <div class="login-container">
        <form action="/Home/DangNhap" method="POST">
            <h1>Đăng nhập</h1>

            <div class="input-group">
                <label for="username">Tên hoặc gmail tài khoản:</label>
                <input type="text" id="username" name="username" required>
            </div>

            <div class="input-group">
                <label for="password">Mật khẩu:</label>
                <input type="password" id="password" name="password" required>
            </div>

            <div class="options">
                <a href="#" class="forgot-password">Quên mật khẩu</a>
            </div>

            <button type="submit" class="login-button">Đăng nhập</button>

<h2>hellloooo</h2>

