
@{
    ViewBag.Title = "LienHe";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
<link href="~/Content/StyleCSS/LienHeSheet.css" rel="stylesheet"/>
<body>
    <section class="contact">
        <h1>Đây là trang liên hệ</h1>
        <p class="sub-title">Nhóm 3 noob + dự án :Web bán điện thoại </p>

        <div class="members">
            @* CLASS DADDY*@

            <div class="member">
                @* CLASS SON*@
                <div class="avatar">

                </div>
                <p>Name: Phạm Thành Đạt</p>
                <p>MSSV: 24dh113245</p>
            </div>

            <div class="member">
                <div class="avatar">
                    <img src="~/Content/LienHe,giohang/Hình của trực.jpg" class="contact-img">
                </div>
                <p>Name: Nguyễn Trần Trung Trực</p>
                <p>MSSV: 24DH112970</p>
            </div>

            <div class="member">
                <div class="avatar">
                    <img src="~/Content/LienHe,giohang/damm.png" class="contact-img">
                </div>
                <p>Name: Nguyễn Đức Trí</p>
                <p>Mssv:24DH190272</p>
            </div>
        </div>


        <div class="contact-icon">📞</div>


    </section>

</body>

