
@{
    ViewBag.Title = "LienHe";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/js/all.min.js"></script>
<style>
    .facebook {
        background-color: aqua;
        font-size: 25px;
        text-decoration: none;
    }

        .facebook:hover {
            background-color: grey;
            color: white;
        }

    .github {
        background-color: lightpink;
        font-size: 25px;
        text-decoration: none;
    }

        .github:hover {
            background-color: grey;
            color: white;
        }

    .email {
        background-color: yellow;
        font-size: 25px;
        text-decoration: none;
    }

        .email:hover {
            background-color: grey;
            color: white;
        }
</style>
<h2 style="text-align: center">Liên hệ chúng tôi tại </h2>
<a href="https://www.facebook.com/" target="_blank" class="facebook"><i class="fa-brands fa-facebook"></i> Facebook</a>
<br />
<a href="https://github.com/your-github-username" target="_blank" class="github"><i class="fa-brands fa-github"></i> Github</a>
<br />
<a href="https://mail.google.com/mail/?view=cm&fs=1&to=conttactructranmc@gmail.com&su=Liên%20h
 ệ&body=Xin%20chào" target="_blank" class="email"><i class="fa-solid fa-envelope"></i> Email</a>
