
@{
    ViewBag.Title = "SanPham";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="body">
    <div id="body-left">

    </div>
    <div id="body-mid">
        <h1>Các sản phẩm nổi bật</h1>
        <div class="product-container">
            <div class="product">
                <img src="https://raw.githubusercontent.com/DatPham06/webdata/main/dienthoai/iphone-14_2_1.jpg" alt="SP1">
                <h3 class="product-name">Điện thoại A1</h3>
                <p class="product-info">Màn hình 6.5", chip Snapdragon, RAM 8GB</p>
                <p class="product-price">Giá: <span>8.990.000₫</span></p>
            </div>

            <div class="product">
                <img src="https://raw.githubusercontent.com/DatPham06/webdata/main/dienthoai/iphone-15-plus-256gb_2.jpg" alt="SP2">
                <h3 class="product-name">Điện thoại B2</h3>
                <p class="product-info">Màn hình 6.1", chip Dimensity, RAM 6GB</p>
                <p class="product-price">Giá: <span>6.490.000₫</span></p>
            </div>

            <div class="product">
                <img src="https://raw.githubusercontent.com/DatPham06/webdata/main/dienthoai/iphone_17_256gb-3_2.jpg" alt="SP3">
                <h3 class="product-name">Điện thoại C3</h3>
                <p class="product-info">Màn hình 6.7", chip A17, RAM 8GB</p>
                <p class="product-price">Giá: <span>22.990.000₫</span></p>
            </div>

            <div class="product">
                <img src="https://raw.githubusercontent.com/DatPham06/webdata/main/dienthoai/hinh4.jpg" alt="SP4" class="hinhanh">
                <h3 class="product-name">Iphone 14</h3>
                <p class="product-info">Màn hình 6.3", chip Exynos, RAM 4GB</p>
                <p class="product-price">Giá: <span>4.990.000₫</span></p>
            </div>
        </div>
    </div>
    <div id="body-right">

    </div>
</div>

