
@{
    ViewBag.Title = "TrangChu";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
<link href="~/Content/StyleCSS/TrangChuSheet.css" rel="stylesheet" />
<div class="banner">
    <a href="~/Home/SanPham">
        <img src="https://raw.githubusercontent.com/DatPham06/webdata/main/dienthoai/690x300_iPhone_17_Pro_Opensale_v3.png" alt="Banner">
    </a>
</div>

